<footer class='footer'>
  <small>
    Some shop for selling stuff...
  </small>
  <nav>
    <ul>
      <li><%= link_to 'Facebook', '#' %></li>
      <li><%= link_to 'Twitter', '#' %></li>
    </ul>
  </nav>
</footer>
